body {
  background-image: url('https://m.psecn.photoshelter.com/img-get2/I00001_IO93.9hPY/fit=4000x3000/g=G0000ETDyWuj2a4U/TWA-Sections.jpg');
  background-repeat: no-repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

.card_container{
  border: 2px solid black;
  padding: 30px;
  border-radius: 15px;
  color:black;
  background: #d9d7ce;
}

.building_container{
  border: 2px solid black;
  padding: 30px;
  border-radius: 15px;
  background: #d9d7ce;
}

.card_image{
  max-width: 200px;
}

#app_title{
  text-align: center;
}

.nav{
  border: 2px solid black;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.info-container{
  border: 2px solid black;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 20px;
  background: black;
}

.info-box{
  border: 2px solid white;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 20px;
  background: black;
}